body {
    margin: 0px;
}

p {
    margin: 10px;
}

h2 {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}

button {
    margin: 8px;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 15px;
    background: blue;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}

button:hover {
    background: darkblue;
}

input {
    width: 180px;
    font-size: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    padding: 9px 7px;
    border: 0;
    outline: 0;
}

.container {
    margin: auto;
    max-width: 800px;

    font-size: 18px;
    font-family: sans-serif;

    /* place items vertical */
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    background-color: black;
    color: white;

    /* center titel vertical and horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    height: 45px;
    background-color: darkgray;
    color: white;

    /* center status text vertical and horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    /* center items horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_btn {
    margin-left: -40px;
}

.row {
    /* place text and buttons horizontal */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disconnected {
    color: red;
}

.error {
    padding: 8px;
    border-radius: 4px;
    margin: 10px;
    max-width: 760px;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: red;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.message {
    padding: 8px;
    border-radius: 4px;
    margin: 10px;
    max-width: 760px;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: green;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.playing_field {
    z-index: -1;
    position: absolute;
    background-color: whitesmoke;
}
